{% extends "layout.html" %}

{% block title %}
Sign in
{% endblock %}

{% block content %}
<!-- Bienvenue to Flack -->
<section class="section">
    <div class="container">
        <h1 class="title">
        Hello and Welcome to Flack!
        </h1>
        <p class="subtitle">
        A place to hang with your <strong>Goodfellas</strong>!
        </p>
    </div>
    </section>

<div class="container">
    <div class="row">
        <div class="col">
        <h1>FLACK</h1>
        <p>A space to cheer with your fellas!</p>
        <form action="/chat" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" id="nick" name="nickname" placeholder="nickname">
              <small class="form-text text-muted">Pick a tricky nickname!</small>
            </div>
            <button type="submit" class="btn btn-dark">Sign in</button>
          </form>
        </div>
        <div class="col">
        <div class="card card-general">
            <h5>General Channel</h5>
            <p>Your own space!</p>
        </div>
        <div class="card card-cinema">
            <h5>Cinema</h5>
            <p>Talk about it!</p>
        </div>
        <div class="card card-science">
            <h5>Science</h5>
            <p>Have some fun by learning a topic!</p>
        </div>
        <div class="card card-astro">
            <h5>Astronomy</h5>
            <p>Astonished and great topic to discuss all days!</p>
        </div>
        </div>
    </div>
</div>



{% endblock %}