{% extends "layout.html" %}

{% block title %}
Channels
{% endblock %}

{% block content %}
<h2>Create a new channel</h2>
<div class="collapse navbar-collapse" id="navbar">
    <ul id="channel-list" class="navbar-nav mr-auto mt-2">
        <div id="channel-start">
            <h5 id="channel-head">Channels</h5>
            <!-- new channel button triggers modal to input new channel name -->
            <button type="button" class="btn newchannel-btn" data-toggle="modal" data-target="#prompt">+</button>
            <!-- Modal (prompt for new channel) -->
            <div class="modal fade" id="prompt" tabindex="-1" role="dialog" aria-labelledby="prompt user new channel name" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Create new channel</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input id="newname" autocomplete="off" class="form-control" type="text" placeholder="#new channel name">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-warning" id="create-newchannel" type="submit">Create Channel</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- display list of channels -->
        <div class="list">
            {% for channel in channels %}
                <li class="nav-item">
                    {% if channel == currentChannel %}
                        <a class="nav-link highlight">#{{ channel }}</a>
                    {% else %}
                        <a class="nav-link">#{{ channel }}</a>
                    {% endif %}
                    <span class="message-num">{{ channels[channel]|length }}</span>
                </li>
            {% endfor %}
        </div>
    </ul>
</div>
{% endblock %}
