{% extends "layout.html" %}

{% block title%}
Chat Room
{% endblock %}

{% block content %}



<div class="container">
  <div class="row no-gutters">
    <!--Channel Column-->
    <div class="col-4" style="height: 90vh; width:auto">
      <div class="row no-gutters">
        <!--Menu Navbar -->

        <div class="settings-tray col-12 d-flex " style="height: 10vh; width:auto">
          <img class="profile-image"
            src="../static/styles/img/user-png-icon-account-avatar-human-male-man-men-people-person-download-svg-download-png-edit-icon-512.png"
            alt=""> 
            <p class="my-2 ml-3">{{session.name}}</p>
        </div>

        <!--Search for a channel-->
        <div class="search-box">
          <div class="input-wrapper">
            <i class="fa fa-search" aria-hidden="true">Search</i>
            <input placeholder="Search Channel" type="text">
          </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-slack" aria-hidden="true"></i>New Channel
        </button>


        <!--Channels List-->
        <div class="col-12" id="container-channels">
          <!--FOR JINJA CHANNELS-->

          {% for channels in channel_list %}

          <div class="list-group py-1">
            <span onclick="channelSelection('{{channels}}')" class="list-group-item">{{channels}}</span>
          </div>

          {% endfor %}

        </div>


      </div>
    </div>

    <!-- Modal to create channel -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Channel Name</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="text" id="newChannel" placeholder="New #Channel">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"
                aria-hidden="true"></i>Cancel</button>
            <button type="button" onclick="newChannel()" class="btn btn-success"><i class="fa fa-check-circle"
                aria-hidden="true"></i>Create</button>
          </div>
        </div>
      </div>
    </div>

    <!--Messages Column-->
    <div class="col-8">
      <div class="row no-gutters">
        <!--Menu Navbar-->
        <div class="col-12 settings-tray" style="height:10vh; width:auto">
          <!--Information of the channel-->
          <div class="friend-drawer no-gutters friend-drawer--grey">
            <img class="profile-image" src="../static/styles/img/Contact-icon.png" alt="">
            <span class="settings-tray--right">
              <i class="fa fa-refresh" aria-hidden="true">Refresh</i>
              <i class="fa fa-moon-o" aria-hidden="true">Night Mood</i>
              <i class="fa fa-bars" aria-hidden="true">Menu</i>
            </span>
            <a href="/logout"><button type="button" class="btn btn-success"><strong><i class="fa fa-sign-out"
                    aria-hidden="true"></i>Sign out</strong></button></a>
            <div class="text">
              <h6>Hello, </h6>
            </div>
          </div>
        </div>

        <!--Messages Here-->
        <div class="col-12 bg-primary" style="height: 76vh; width:auto" id="id_messages">
        
        </div>


        <!--Input Messages-->
        <div class="col-12" id="send">
            <div class="input-group mb-3" id="inputmessage">
              <input type="text" class="form-control" placeholder="Type Something" aria-label="Recipient's username"
                aria-describedby="button-addon2" id="user_message">
              <div class="input-group-append">
                <button class="btn btn-warning" type="button" id="button-addon2">Send</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}