:root.dark {
  --bg-color: #121212;
  --text-color: #45ADFE;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Rampart One', cursive;
}

.containersignin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  width: 800px;
  border: 10px;
  margin: auto;
  margin-top: 50px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: wheat;
}

.box {
  padding: 12px;
  width: 65%;
  margin: 15px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
}

#button_signin {
  width: 250px;
  color: white;
  font-size: 20px;
  padding: 12px 0;
  background: darkblue;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

#button_signin:hover {
  cursor: pointer;
  background-color: aquamarine;
}

/*Right Side*/
.side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.card {
  margin: 20px 10px;
  border-radius: 10px;
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  text-align: center;
  -webkit-text-emphasis-color: purple;
          text-emphasis-color: purple;
}

.card-body {
  -webkit-box-shadow: 0 0 20px 7px;
          box-shadow: 0 0 20px 7px;
}

.card-body a {
  color: darkcyan;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 600;
}

.card-body a:hover {
  color: darkorchid;
  text-decoration: none;
}

.card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.container-section {
  text-align: center;
}

body {
  background-image: url(../styles/img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  margin: 70px auto;
  background: #AF7595;
  padding: 0;
  border-radius: 10px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.footer {
  background-color: orange;
  background-position: bottom;
  background-size: cover;
}

.settings-tray {
  background: #85CB33;
  padding: 10px 15px;
  border-radius: 8px;
}

.settings-tray .no-gutters {
  padding: 0;
}

.settings-tray--right {
  float: right;
}

.settings-tray--right i {
  margin-top: 10px;
  font-size: 20px;
  color: brown;
  margin-left: 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

.settings-tray--right i:hover {
  color: #FFD8BE;
  cursor: pointer;
}

.search-box {
  background: #A8D5E2;
  padding: 10px 13px;
}

.search-box .input-wrapper {
  background: #4FB477;
  border-radius: 20px;
}

.search-box .input-wrapper i {
  color: #DCFFFD;
  margin-left: 7px;
  vertical-align: middle;
}

input {
  border: none;
  border-radius: 20px;
  width: 80%;
}

input::-webkit-input-placeholder {
  color: darkred;
  font-weight: 300;
  margin-left: 40px;
}

input:-ms-input-placeholder {
  color: darkred;
  font-weight: 300;
  margin-left: 40px;
}

input::-ms-input-placeholder {
  color: darkred;
  font-weight: 300;
  margin-left: 40px;
}

input::placeholder {
  color: darkred;
  font-weight: 300;
  margin-left: 40px;
}

input:focus {
  outline: none;
}

.channels {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: baseline;
  background: #9381FF;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.channels--grey {
  background: #eee;
}

.channels--onhover:hover {
  background: #FFD8BE;
  cursor: pointer;
}

.channels--onhover:hover p,
.channels--onhover:hover h6,
.channels--onhover:hover .time {
  color: #fff !important;
}



.chat-bubble {
  padding: 10px 14px;
  background: lightcoral;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

.chat-bubble:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-top: -10px;
}

.chat-bubble--left:after {
  left: 0;
  border-right-color: greenyellow;
  border-left: 0;
  margin-left: -20px;
}

.chat-bubble--right:after {
  right: 0;
  border-left-color: #FFD8BE;
  border-right: 0;
  margin-right: -20px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.offset-md-9 .chat-bubble {
  background: #FFD8BE;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */