* {
  margin: 0;
  padding: 0;
  font-family: 'Rampart One', cursive;
}

.button_signin {
  width: 250px;
  color: white;
  font-size: 20px;
  padding: 12px 0;
  background: darkblue;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

.button_signin:hover {
  -webkit-transition: purple;
  transition: purple;
}

.card {
  margin: 20px 10px;
  border-radius: 10px;
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  text-align: center;
  -webkit-text-emphasis-color: purple;
          text-emphasis-color: purple;
}

.card-body {
  -webkit-box-shadow: 0 0 20px 7px;
          box-shadow: 0 0 20px 7px;
}

.card-body a {
  color: darkcyan;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 600;
}

.card-body a:hover {
  color: darkorchid;
  text-decoration: none;
}

.card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.container-section {
  text-align: center;
}

body {
  background-image: url(../styles/img/background.jpg);
}

.container {
  margin: 70px auto;
  background: #AF7595;
  padding: 0;
  border-radius: 10px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.footer {
  background-color: orange;
  background-position: bottom;
  background-size: cover;
}

.settings-tray {
  background: #85CB33;
  padding: 10px 15px;
  border-radius: 8px;
}

.settings-tray .no-gutters {
  padding: 0;
}

.settings-tray--right {
  float: right;
}

.settings-tray--right i {
  margin-top: 10px;
  font-size: 20px;
  color: brown;
  margin-left: 14px;
  -webkit-transition: .3s;
  transition: .3s;
}

.settings-tray--right i:hover {
  color: #FFD8BE;
  cursor: pointer;
}

.search-box {
  background: #A8D5E2;
  padding: 10px 13px;
}

.search-box .input-wrapper {
  background: #4FB477;
  border-radius: 20px;
}

.search-box .input-wrapper i {
  color: #DCFFFD;
  margin-left: 7px;
  vertical-align: middle;
}

input {
  border: none;
  border-radius: 20px;
  width: 80%;
}

input::-webkit-input-placeholder {
  color: darkred;
  font-weight: 300;
  margin-left: 40px;
}

input:-ms-input-placeholder {
  color: darkred;
  font-weight: 300;
  margin-left: 40px;
}

input::-ms-input-placeholder {
  color: darkred;
  font-weight: 300;
  margin-left: 40px;
}

input::placeholder {
  color: darkred;
  font-weight: 300;
  margin-left: 40px;
}

input:focus {
  outline: none;
}

.channels {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: baseline;
  background: #9381FF;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.channels--grey {
  background: #eee;
}

.channels--onhover:hover {
  background: #FFD8BE;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */