$blue: #FFD8BE;
// Moods

:root.dark {
  --bg-color: #121212;
  --text-color: #45ADFE;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Rampart One', cursive;
  }
  
// Base

.containersignin{
  display: flex;
  height: 700px;
  width: 800px;
  border: 10px;
  margin: auto;
  margin-top: 50px;
}

.form{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: wheat;
}

.box{
  padding: 12px;
  width: 65%;
  margin: 15px;
  border: 1px solid black;
  outline: none;
  border-radius: 20px;
}

#button_signin{
  width: 250px;
  color: white;
  font-size: 20px;
  padding:12px 0;
  background: darkblue;
  border:0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}

#button_signin:hover{
  cursor: pointer;
  background-color: aquamarine ;
}

/*Right Side*/
.side{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.card{
  margin: 20px 10px;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  text-align: center;
  text-emphasis-color: purple;
  
}

.card-body{
  box-shadow: 0 0 20px 7px;
}

.card-body a{
  color:darkcyan;
  text-decoration: none;
  font-size: 15px;
  margin-top: auto;
  font-weight: 600;
}

.card-body a:hover{
  color:darkorchid;
  text-decoration: none;
}
.card:hover{
  transform: translateY(-10px);
}

.container-section{
  text-align: center;
}

// Chat Panel
body{
  background-image: url(../styles/img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container{
  margin: 70px auto;
  background: #AF7595;
  padding: 0;
  border-radius: 10px;
}
 
.profile-image{
  width: 50px;
  height: 50px;
  border-radius: 40px;
}

.footer{
  background-color: orange;
  background-position: bottom;
  background-size: cover;
  
}

.settings-tray {
  background: #85CB33;
  padding: 10px 15px;
  border-radius: 8px;
  
  .no-gutters {
    padding: 0;
  }
  
  &--right {
    float: right;
    
    i {
      margin-top: 10px;
      font-size: 20px;
      color: brown;
      margin-left: 14px;
      transition: .3s;
      
      &:hover {
        color: $blue;
        cursor: pointer;
      }
    }
  }
}

.search-box {
  background: #A8D5E2;
  padding: 10px 13px;
  
  .input-wrapper {
    background: #4FB477;
    border-radius: 20px;
    
    i {
      color: #DCFFFD;
      margin-left: 7px; 
      vertical-align: middle;
    }
  }
}

// Input Search Channel
input {
  border: none;
  border-radius: 20px;
  width: 80%;

  &::placeholder {
    color: darkred;
    font-weight: 300;
    margin-left: 40px;
  }

  &:focus {
    outline: none;
  }
}

// Channels Column
.channels {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  background: #9381FF;
  transition: .3s ease;
  
  &--grey {
    background: #eee;
  }

  &--onhover:hover {
    background: $blue;
    cursor: pointer;
    
    p,
    h6,
    .time {
      color: #fff !important;
    }
  }
}

//Chat Bubble

.chat-bubble {
  padding: 10px 14px;
  background: lightcoral;
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
  
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }
  
  &--left {
     &:after {
      left: 0;
      border-right-color: greenyellow;
        border-left: 0;
      margin-left: -20px;
    }
  }
  
  &--right {
    &:after {
      right: 0;
      border-left-color: $blue;
      border-right: 0;
      margin-right: -20px;
    }
  }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.offset-md-9 {
  .chat-bubble {
    background: $blue;
    color: #fff;
  }
}

// .not-me{
//   width: 60%;
//   word-wrap: break-word;
//   background-color: lightcoral;
//   padding: 7px 10px;
//   border-radius: 10px 10px 10px 0;
//   margin: 10px 0;
// }

// .me{
//   width: 60%;
//   word-wrap: break-word;
//   background-color:greenyellow;
//   padding: 7px 10px;
//   border-radius: 10px 10px 0 10px;
//   margin: 5px 0 5px auto;
// }