*{
    margin: 0;
    padding: 0;
    font-family: 'Rampart One', cursive;
  }
  
  .container-footer{
    width: 100%;
    height: 100vh;
    background-color: orange;
    background-position: center;
    background-size: cover;
  }
  
  .button{
    width: 180px;
    color: purple;
    font-size: 12px;
    padding:12px 0;
    background: #fff;
    border:0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
  }

  
  @media screen and (max-width: 992px) {
    body {
      background-color: aquamarine;
    }
  }
  
  @media screen and (max-width: 600px) {
    body {
      background-color: olivedrab;
    }
  }
  
  .card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
  }
  
  .card-general{
    background-image: url(../styles/img/general.png);
  }
  
  .card-cinema{
    background-image: url(../styles/img/cinema.png);
  }
  
  .card-science{
    background-image: url(../styles/img/science.jpg);
  }
  
  .card-astro{
    background-image: url(../styles/img/astronomy.png);
  }
  
  .card:hover{
    transform: translateY(-10px);
  }
  
  h5{
    color:sandybrown;
    text-shadow: 0 0 5px #999;
  }
  
  .card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
  }